@import url("https://fonts.googleapis.com/css2?family=Allura&family=Caprasimo&family=Cedarville+Cursive&family=Dancing+Script:wght@400..700&family=Permanent+Marker&family=Vazirmatn:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Vazirmatn", cursive;
}

html {
  scroll-behavior: smooth;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.container {
  width: 100%;
  height: 70px;
  background-color: rgba(65, 15, 24);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  padding: 5px 70px;
}

.options {
}

.options ul {
  display: flex;
  flex-direction: row-reverse;
  gap: 25px;
}

.options ul li a {
  text-decoration: none;
  color: #fff;
}

.options ul li {
  list-style: none;
  cursor: pointer;
  color: rgb(255, 255, 255);
  padding: 5px 20px;
  border-radius: 30px;
  transition: all 0.2s ease;
  font-weight: 600;
  font-size: 17px;
}

.options ul li:hover {
  background-color: rgba(252, 139, 0);
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 50px;
  cursor: pointer;
}

.logo h1 {
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 20px;
}

.logo h1 a {
  text-decoration: none;
  color: white;
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 642px;
  background-color: rgba(65, 15, 24);
  padding: 5px 70px;
}

.coffeeImg {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
}

.discription {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: right;
}

.coffeeImg img {
  width: 395px;
}

.discription {
  text-align: right;
  align-items: center;
  justify-content: center;
}

.discription span {
  color: rgba(252, 139, 0);
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 10px;
  line-height: 2.8;
}

.discription p {
  color: white;
  font-weight: 600;
  font-size: 20px;
}

.discriptionButton {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  padding-top: 40px;
}

.discriptionButton .btn {
  padding: 10px 35px;
  border: none;
  border-radius: 30px;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}

.discriptionButton .contact {
  background-color: rgb(65, 15, 24);
  border: 1px solid #fff;
  color: white;
  transition: all 0.2s ease;
}

.discriptionButton .contact:hover {
  background-color: rgba(252, 139, 0);
  border: 1px solid rgba(252, 139, 0);
  color: black;
}

.discriptionButton .order {
  background-color: rgba(252, 139, 0);
  color: black;
  transition: all 0.2s ease;
  border: 1px solid rgba(252, 139, 0);
}

.discriptionButton .order:hover {
  background-color: rgba(65, 15, 24);
  color: rgb(255, 255, 255);
  border: 1px solid #fff;
}

.about {
  width: 100%;
  height: 500px;
  background-color: rgba(253, 243, 245);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 70px;
}

.aboutImage {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutImage img {
  width: 340px;
  height: 340px;
  border-radius: 50%;
  object-fit: cover;
}

.aboutDiscription {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.aboutDiscription h2 {
  font-size: 30px;
}

.aboutDiscription p {
  padding: 20px 0;
  text-align: center;
}

.underline {
  width: 60px;
  height: 3px;
  border: none;
  background-color: rgba(252, 139, 0, 1); /* رنگ خط */
  margin-top: 10px;
  border-radius: 2px;
}

.aboutIcons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  gap: 10px;
  padding-top: 10px;
}

.aboutIcons i {
  font-size: 20px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.aboutIcons i:hover {
  color: rgba(252, 139, 0, 1);
}

.menu {
  width: 100%;
  height: 1100px;
  background-color: #1c1c1c;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 70px;
}

.menuDiscription {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.menuDiscription h2 {
  color: white;
  font-size: 30px;
  padding-top: 60px;
}

.products {
  width: 100%;
  height: 80%;
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.product {
  width: 300px;
  height: 400px;
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  border-radius: 20px;
  overflow: hidden;
}

.product img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  transition: all 0.2s ease;
  margin-bottom: 5px;
}

.product img:hover {
  transform: scale(1.05);
}

.product h3 {
  padding: 5px 0;
}

.product p {
  padding: 6px;
  text-align: center;
}

.testimonials {
  background-color: rgba(253, 243, 245);
  width: 100%;
  height: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 70px;
}

.testimonialsUser {
  width: 300px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  position: relative;
}

.testimonials img {
  border-radius: 50%;
  width: 220px;
  height: 220px;
  object-fit: cover;
}

.testimonials h2{
 text-align: center;
 padding-top: 90px;
 padding-bottom: 10px;
}

.testimonials .underline {
  width: 60px;
  height: 3px;
  border: none;
  background-color: rgba(252, 139, 0, 1);
  margin: 0px auto 40px auto; /* auto باعث وسط‌چینی میشه */
  border-radius: 2px;
}


.testimonials h3 {
  margin: 14px 0;
}

.testimonials p {
  padding: 6px;
  text-align: center;
  color: #968e90;
}

.swiper-button-prev {

  color: rgba(252, 139, 0, 1) !important;
}

.swiper-button-next {

  color: rgba(252, 139, 0, 1) !important;
}


.swiper-pagination-bullet {
  background-color: rgba(252, 139, 0, 1) !important;
}

.address{
  width: 100%;
  height: 600px;
  background-color: rgba(253, 243, 245);
  padding: 50px 70px 50px 70px;
  display: flex;
  flex-direction: column;
}

.address-title{
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  /* height: 40px; */
  margin-bottom: 20px;
}

.location{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 20%;
  margin-top: 80px;
}

.information{
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  height: 80%;
}
.address-location{
  width: 50%;
  height: 100%;
  text-align: right;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-top: 70px;
}

.address-input{
  width: 50%;
  height: 100%;
  padding-top: 60px;
  text-align: right;
}

.address-input input{
  width: 100%;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  text-align: right;
  margin-bottom: 10px;
}

.information-option{
  display: flex;
  align-items: center;
  gap: 30px;
}

.information-option i{
  font-size: 25px;
}

.information-option p{
  font-size: 17px;
  font-weight: 500;
}

.address-input textarea{
  width: 100%;
  height: 140px;
  border-radius: 10px;
  text-align: right;
  padding: 10px 13px;
  border: none;
}

.address-input button{
  padding: 5px 35px;
  border: none;
  background-color: rgba(65, 15, 24);
  color: white;
  font-size: 20px;
  border-radius: 50px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
}

.address-input button:hover{
  background-color: rgba(252, 139, 0, 1);
}


